{% extends 'parent.html' %}

{% block start %}
<form method="post" enctype="multipart/form-data" class="col-6 mx-auto card p-3 shadow-lg">

    {% csrf_token %}
    <h2 class="text-center">Add Recipe</h2>
    <hr>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
      <input type="text" class="form-control" name="recipe_name" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
      <textarea name="recipe_description" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
      <input type="file" class="form-control" name="recipe_image" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Add Recipe</button>
  </form>
  <!-- {{foods}} -->
  {% endblock %}